@import '../../../scss/authMainContent.scss';
@import '../../../scss//ItemResumeForListEducatoins.scss';

.ResumeContent {
    @include auth-main-content-padding;

    display: grid;
    grid-template-areas: 'photo text ';
    grid-template-columns: fit-content(300px) 1fr;
    gap: 40px;
    margin-top: 40px;

    .photo {
        grid-area: photo;
        img {
            max-width: 100%;
            max-height: 500px;
        }
    }
    .text {
        grid-area: text;
        .target {
            .text {
                font-size: 60px;
                line-height: 70px;
                margin: -11px 0px 0px -4px;
            }
            margin-bottom: 20px;
        }
        .salary-text {
            margin-bottom: 40px;
        }
        .title {
            .fio {
                display: flex;
                align-items: center;
                font-size: 48px;
                font-weight: lighter;
                margin: 0px 0px 0px -2px;
                .link {
                    margin-left: 40px;
                    font-size: 36px;
                    transform: rotate(-45deg);
                }
            }
        }

        .sub-title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .item-resume {
            margin-bottom: 40px;

            .fill {
                display: flex;
                flex-direction: column;
                max-width: 960px;
            }
        }

        .PrevWorkPlace {
            @include item-resume-for-list-educatoins;
        }

        .EducationList {
            @include item-resume-for-list-educatoins;
        }

        .Courses {
            @include item-resume-for-list-educatoins;
        }
    }
    .salary {
        grid-area: salary;
        .salary-text {
            font-size: 36px;
            line-height: 28px; // :TODO
            font-weight: lighter;
        }
    }
}
