.ButtonsVacancy {
    margin: 20px 0px;
    display: flex;
    gap: 20px;
    .respond {
        border-radius: 4px;
        border: none;
        color: white;
        text-transform: uppercase;
        padding: 20px;
        background-color: #1976d2;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        &:hover {
            background-color: #084989;
        }
    }

    .write {
        box-sizing: border-box;
        color: #1976d2;
        border-radius: 4px;
        border: 1px solid #1976d2;
        padding: 20px;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        background-color: transparent;
        &:hover {
            border: 1px solid #084989;
            color: #084989;
        }
    }
}
