.tag {
    padding: 2px 7px;
    background-color: #eaeaea;
    border-radius: 30px;
    display: flex;
    gap: 5px;
    .text {
        display: block;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .icon-delete {
        cursor: pointer;
    }
}
