.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        max-height: 35px;
    }

    .linkSigninSignup {
        text-decoration: none;
        color: black;
    }
}
