@import '../../../scss/default.scss';
@import '../../../scss/baseBtn.scss';

@mixin form-and-fields-settings {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    .wrapper {
        display: flex;
        width: 100%;
        gap: 20px;
        .wrapper-field-info {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            gap: 20px;
            align-items: center;
        }

        .wrapper-field-info-half {
            flex-grow: 0.49;
        }
    }
}

.container-tab {
    padding: 40px 0px !important;
    display: grid;
    grid-template-areas: 'photo divider main-info';
    grid-template-columns: 280px 1px 1fr;

    .wrapper-fields {
        display: flex;
        width: 100%;
        gap: 20px;
    }
    .photo {
        grid-area: photo;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px;
        .fake-avatar {
            background-color: #bdbdbd;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 40px;
        }
        .avatar {
            display: none;
        }
        .load-photo {
            background-color: $main-color;
            color: white;
            width: 100%;
            margin-bottom: 20px;
        }

        .delete-photo {
            background-color: transparent;
            border: 1px solid $main-color;
            color: $item-list-vacancy-desciption-color;
            width: 100%;
        }
    }
    .divider {
        grid-area: divider;
        width: 1px;
        height: 100%;
        background-color: $divider-color;
    }

    .main-info {
        grid-area: main-info;
        margin-left: 40px;

        .btnUpdate {
            @include base-btn;
        }

        .main-info-form {
            @include form-and-fields-settings;

            .description {
                flex-basis: 100px;
            }
            .fio {
                flex-grow: 1;
            }

            .gander {
                flex-direction: row;
            }
            .birthday-fields {
                flex-grow: 1;
            }

            .language-field {
                flex-grow: 1;
            }
        }

        .contact-info-form {
            @include form-and-fields-settings;
            .description {
                flex-basis: 100px;
            }

            .PhoneInputCountry {
                display: none;
            }

            .input-max {
                flex-grow: 1;
            }
            .PhoneInput {
                width: 100%;
                overflow: hidden;
                input {
                    border: none;
                    border-bottom: 1px solid black;
                    margin-left: 20px;
                    width: 100%;
                    box-sizing: border-box;
                    padding-bottom: 5px;
                    font-size: 14px;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .professional-info-form {
            @include form-and-fields-settings;
            .MuiFormControl-root {
                flex-grow: 1;
                margin-left: 20px;
            }
            .about {
                width: 100%;
                flex-direction: column;
                align-items: baseline;
                textarea {
                    height: 250px !important;
                    width: 100%;
                    resize: none;
                    padding: 10px;
                    margin-top: 20px;
                    font-size: 14px;
                    box-sizing: border-box;
                }
            }
            .skills {
                align-items: baseline;
            }
            .quality {
                align-items: baseline;
            }
        }

        .education-form {
            @include form-and-fields-settings;

            .wrapper-field-info {
                align-items: baseline !important;
            }
        }

        .wrapperBtn {
            display: flex;
            justify-content: flex-end;
        }
    }
}
