@import '../../../scss/baseBtn.scss';
@import '../../../scss/default.scss';

.BeforeWork {
    width: 100%;
    display: flex;
    flex-direction: column;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .MuiFormControl-root {
            margin: 0px !important;
        }
        .item-text {
            width: 49%;
            box-sizing: border-box;
        }

        .period {
            width: 49%;
            display: flex;
            gap: 20px;
        }
    }
    .addPlaceWork {
        @include base-btn;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        &:hover {
            background-color: #e81454;
        }
    }
    .listBeforeWork {
        margin-top: 40px;
        .item {
            margin-bottom: 20px;

            .wrapper-text {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .divider {
                width: 100%;
                height: 1px;
                margin-top: 10px;
                border-bottom: 1px solid $divider-color;
            }
        }
    }
}
