.PrevWorkPlace {
    margin-top: 40px;
    .sub-title {
        margin-bottom: 20px;
    }
    .list {
        .item {
            display: flex;
            gap: 10px;

            .name {
                flex: 1;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}
