.SalaryInput {
    flex: 1;
    display: flex;
    gap: 20px;
    .change-volute {
        flex: 1;
    }

    .wrapper-salary {
        flex: 11;
        display: flex;
        align-items: center;
        gap: 20px;
        .salary {
            flex: 1;
        }
    }
}
